body {
    background-color:darkgray;
    color:black;
    
   /* make sure you set family and size on body */
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    
}

/* typography */

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: serif;
  margin-bottom: 0.313em;
}

h1 {
    background: azure;
    font-size: 2.500em;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-top: 2%;
}

h2 {
   font-size: 1.563em;
   text-decoration: underline;
   font-style: italic;
   font-weight: bold;
}

h3 {
    font-size: 1.563em;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

main p {
    padding: 1.250em; 
    font-size: 1.563em;
    line-height: 1.250em;
    margin-bottom: 0.625em;
}

/* main containers */

.wrapper {
       width: 90%;
       margin: 1.250em auto 0.000em auto;
}

header {
    background-color:azure;
    height: 9.375em;
    padding: 1.875em;
    color: black;
    padding: 0.500em 0.750em;   
}

/* ancor styles */

a {
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}
a:active {
    color: red;
}


nav {
    background-color:azure;
    padding-top: 1.250em;
}

nav ul {
    margin: 0.000em auto;
        text-align: center;

}

nav ul li {
    display: inline;
    margin-right: 0.625em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 0.500em 0.750em;
    text-transform: uppercase;
    letter-spacing: 0.063em;
}

nav ul li a:hover {
    background-color: black;
    text-decoration: none;
    color: antiquewhite;
        opacity: 0.5;

}

main {
    background-color:antiquewhite;
    padding: 1.875em;
    text-align: center;
    font-size: 1.250em;
    overflow: auto;
}

footer { 
    background-color:azure;
    height: 6.250em;
    padding: 1.875em;
    
}

.leftimg {
    width: 45%;
    height: 31.250em;
    float: left;
    border: 0.063em solid darkgray;
    padding: 0.625em;
    background-color: darkgray;
    margin: 1.250em 0.000em;
    margin-top: 5.000em;
    background-image: url(../images/churchill-house-21.jpg);
    background-size: cover;
}

.rightimg {
    width: 45%;
    height: 18.750em;
    float: right;
    border: 0.063em solid darkgray;
    padding: 0.625em;
    background-color: darkgray;
    margin: 1.250em 0.000em;
        background-image: url(../images/churchill-house-14.jpg);
        background-size: cover;


}

.rightbottomimg {
    width: 45%;
    height: 18.750em;
    float: right;
    border: 0.063em solid darkgray;
    padding: 0.625em;
    background-color: darkgray;
    margin: 1.250em 0.000em;
        background-image: url(../images/churchill-house-13.jpg);

}
.leftimg.box p {
    margin-top: 50%;
}
.rightimg.box p,
.rightbottomimg.box  p{
        margin-top: 30%;

}

.box p {
    display: none;
}
.box:hover {
    opacity: 0.5;

}
.box:hover p {
    display: block;
}
.box a {
        padding: 0.625em;
    background: #000;
    color: #fff;
    text-decoration: none;

}
.box a:hover {
    background: #fff;
    color: #000;
}

.gallery img {
    float: middle;
    width: 12.500em;
    border: 0.313em solid grey;
    background-color: darkgrey;
}


/* if screen is larger than 1055px */
@media screen and (max-device-width: 1055px) {
    .wrapper {
        width: 100%;
    }
}

/* if screen is between 375x (mobile) and 768px (tablet) */
@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
    h2 {
        color:aliceblue;
        margin-bottom: 0;
        padding-bottom: 1em;
        line-height: 
    }
    
}

@media screen and (max-device-width: 375px) {
    .leftimg,.rightimg, .rightbottomimg {
/*        max-width: 90%;*/
        width: 100%;
        max-height: inherit;
    }
}
@media screen and (max-device-width: 660px) {
        .leftimg,.rightimg, .rightbottomimg {
/*        max-width: 90%;*/
        width: 100%;
        max-height: inherit;
    }
}

