body {
    background-color:darkgray;
    color:black;
}

.wrapper {
       width: 980px;
       margin: 20px auto 0px auto;
}

header {
    background-color:azure;
    height: 100px;
    padding: 30px;
    
}
h1 {
    background: azure;
    float: right;
    margin-right: 320px;
    padding-top: 30px;
    font-size: 40px;
    font-style: italic;
}
nav {
    background-color:azure;
    padding-top: 15px;
}

main {
    background-color:antiquewhite;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

footer { 
    background-color:azure;
    height: 100px;
    padding: 30px;
}